@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #475e3d;
  /* #183b4e; */
  --foreground: #ffffff;

  --accent: #e7e9e5;
  --muted: #c2c9be;
  --font: #b9d5e6;
  --dark: #475e3d;
  --light: #c2c9be;

  /* white: #b9d5e6 */
  /* #c2c9be; */
}

@theme {
  --breakpoint-sm: 768px;
  --breakpoint-md: 982px;
  --breakpoint-lg: 1084px;
}
